{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MARS-COV</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Form CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-image-checkbox.css' %}">

  <!-- Favicons -->
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet ">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Medilab - v2.1.1
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="kacherepanova@edu.hse.ru">kacherepanova@edu.hse.ru</a>
        <i class="icofont-phone"></i> +79397263835
        <i class="icofont-google-map"></i> Russia, Moscow, HSE University, MIEM
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="/">MARS-COV</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Главная</a></li>
          <li><a href="{% url 'statistics' %}">Статистика</a></li>
          <li><a href="{% url 'news' %}">Новости</a></li>
          <li><a href="{% url 'model' %}">Модель</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="tg://resolve?domain=mars_cov_bot" class="appointment-btn scrollto">Чат-бот</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <br>
      <h1>Моделирование рисков распространения <br> вирусных инфекций</h1>
      <h2>На примере коронавирусной инфекции (SARS-Cov-2)</h2>
      <br>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Что за сайт?</h3>
              <p>
                Система моделирования рисков распространения коронавирусной инфекции в составе, 
                связанных между собой, веб-сервиса и чат-бота для решения проблем информационной 
                обеспеченности в условиях риска распространения инфекционных заболеваний. </p>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-body"></i>
                    <h4>COVID-19 Симптомы</h4>
                    <p>COVID-19 влияет на разных людей по-разному. У большинства инфицированных людей развивается заболевание легкой или средней степени тяжести, и они выздоравливают без госпитализации.</p>
                    <div class="text-center">
                <a target="_blank" href="https://www.who.int/health-topics/coronavirus#tab=tab_3" class="more-btn">Читать далее</a>
              </div>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bxs-bell-ring"></i>
                    <h4>COVID-19 Профилактика</h4>
                    <p>Соблюдайте безопасную дистанцию, надевайте маску, хорошо проветривайте помещения, избегайте скопления людей, мойте руки и кашляйте в согнутый локоть или салфетку.</p>
                    <div class="text-center">
                        <a target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" class="more-btn">Читать далее</a>
                      </div>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-stats"></i>
                    <h4>COVID-19 Статистика</h4>
                    <p>Всемирная организация здравоохранения информирует общественность о количестве подтвержденных случаев, смертельных случаях и общих дозах введенных вакцин.</p>
                    <div class="text-center">
                <a target="_blank" href="https://covid19.who.int" class="more-btn">Читать далее</a>
              </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section> <!-- End Why Us Section -->

    <!-- ======= Appointment Section ======= -->

        {% block content%}
        {% endblock %}


     <!-- End Appointment Section -->

  <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Связаться с нами</h2>
          <p>Для того, чтобы связаться с нами заполните контактную форму.</p>
        </div>
      </div>

    
      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Адрес:</h4>
                <p>Россия, г.Москва, НИУ ВШЭ, МИЭМ</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Почта:</h4>
                <p>kacherepanova@edu.hse.ru</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Телефон:</h4>
                <p>+79397263835</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Ваше Имя" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ваша Почта" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема собщения" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Введите текст сообщения" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Загрузка</div>
                <div class="error-message"></div>
                <div class="sent-message">Ваше сообщение было отправлено. Спасибо!</div>
              </div>
              <div class="text-center"><button type="submit">Отправить</button></div>
            </form>

          </div>

        </div>

      </div>
    </section> <!-- End Contact Section -->

<!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          <span></span>
        </div>
        <div class="credits">
          &copy; Черепанова Ксения
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>